                                                     /*INDEX*/


/*Titulo principal: las totas*/


.tituloPrincipal{
    text-align: center;
    color: #f7b0c8;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
.subrayado{
    position: relative;
    left:450px;
}


/*fotos index - tamaños*/

.fotovasoindex{
    height: 300px;
    width: 300px;
    border-radius: 6px;

}

.fotoorgindex{
    height: 300px;
    width:300px;
    border-radius: 6px;
}
.fotobotellaindex{
    height:300px;
    width: 300px;
    border-radius: 6px;
}
.fotobowlsindex{
    height: 300px;
    width: 300px;
    border-radius: 6px;
 
}
.fotomatesindex{
    height: 300px;
    width:300px;
    border-radius: 6px;
    position: relative;
   bottom:300px;

}


/*fotos index-ubicación*/
.fotosindex{
    position:relative;
    top:50px;
}


.fotosfilaabajo{
    position:relative;
    top:100px;
    left:250px;
}

/*Subtítulos dentro del menu - los que no están en el index*/


.vaso1{   
   
    display:flex;
    left:10px;
    bottom:50px;
    color: #b0f7cc;  
   
}

.mateAntiVuelco1{  
    color: #b0f7cc;
    position:relative;
    left:550px;
    bottom:10px;
}

.Diaria{
    position: relative;
   color: #b0f7cc;
   left: 150px; 
}

.botellita_Kids{
    position:relative;
    color: #b0f7cc;
    left: 400px;

    
}

.bowl{
    color: #b0f7cc;
}
.minibowlstitulo{
    position: relative;
    color: #b0f7cc;
    left: 100px;
}

.subtitulo_Canastam{
display: flex;
position: relative;
color:#b0f7cc;
left:50px;
    
}

.subtituloOrganizador{
    position: relative;
    bottom:350px;
    left:950px;
    color: #b0f7cc;
}


/* Titulos principales dentro del menu */

.titulovasostermicos{  
    text-align: center;
    color: #b0f7cc;
    font-family:"Amatic SC", cursive;
    font-size: 45px;
}

 .titulovasostermicos a{
     text-decoration-line:none ;
 }



.titulobotellas{
    text-decoration-line: none;
    text-align: center;  
    color: #b0f7cc; 
    font-family: "Amatic SC", cursive;
    font-size: 45px; 
}

.titulomates{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;
    font-family: "Amatic SC", cursive;
    font-size: 45px;
    
}


.titulobowl{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc; 
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
}


.tituloOrganizadores{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;   
    font-family:'Amatic SC', cursive ;
    font-size: 45px;
}


.tituloContactanos{ 
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;   
    font-family:"Amatic SC", cursive ;
    font-size: 45px;
}


/* Ubicación fotos*/
/*vasos térmicos*/
.img_vasot{
    position: relative;
    left: 550px;
}
.textovasos{
    position: relative;
    left: 500px;
    top:10px;

}

/*mate*/
.fotomate{
    position: relative;
   bottom:30px;
   left:500px;
}
/*botellas*/
.imagen_botella{ 
    position:relative;
    top: 10px;
    left:100px;
}
.img_medida{
    position: relative;
    top:10px;
    left:350px;
}

/*organizadores*/

.canastitas_img{
position: relative;

}

.parrafocanastita1{
 position:relative;
 left:300px;
 bottom:200px;
}
.organizador_img{
    position: relative;
    bottom:330px;
    left:900px;
}
.parrafoorganizador{
    position: relative;
    left:1200px;
    bottom:550px;
}

/*bowls*/

.elemento_bowl2{
    position: relative;
    left:800px;
    bottom:370px;
}



/* ubicación labels*/
/*vasos térmicos*/

.elegieltuyovasos{
    position: relative;
    top:50px;
}
.elegivasos{
    position:relative;
    top: 50px;
}
/*organizadores*/   

.elegieltuyoorganizador{
    position: relative;
    bottom:300px
}

.elegiorganizadores{
    position:relative;
    bottom:300px;
}
/*botellas*/

.elegieltuyobotella{
    position: relative;
    top:10px;
}
.elegibotellas{
    position:relative;
    top:10px;
}

/*mates*/

.elegieltuyomates{
    position:relative;
    top:5px;
    left:50px;
}
.elegimates{
    position:relative;
    top:5px;
    left: 50px;
}


/*bowls*/
.ElegieltuyoBowls{
    position:relative;
    bottom:300px;
}


.elegibowls{
    position:relative;
    bottom:300px;
}


/*ubicación y animaciones cajas contactanos*/

.form-control-contanos{
    position: relative;
    left:60px;
    top:10px;
    width: 500px;
}
.floatingTextarea{
    position: relative;
    bottom:170px;
    
}

/*footer*/
.seguinos{
position:sticky;
right:50px;
bottom:200px;

}

pic_footer{
    display: flex;
    height: 50px;
    width: 50px;
    position: sticky;
    position: relative;
    left:1300px;
    bottom:200px;
}

.whatsapp{
   display: flex;
    top:50px;
   right:50px;
   height: 50px;
   width: 50px;
}

.gmail{
    display: flex;
    top:100px;
    right:100px;
    height: 50px;
    width: 50px;
}
.logoInstagram{
    display: flex;
    top:100px;
    right:100px;
    height: 50px;
    width: 50px;
}

/*back to index icons*/
/*pestaña vasos*/
.flecha{
    position:absolute;
   bottom:30px;
}





/*                                   GRIDS                           */

/*menu fotos*/

.fotosindex{
    display: grid;
    grid-area: 
    "fotovasoindex"
    "fotoorgindex"
    "fotobotellaindex";
    grid-template-columns:500px 500px 500px;
}

.fotosfilaabajo{
    display: grid;
    grid-area:
    "fotobowlsindex"
    "fotomatesindex";
    grid-template-columns: 500px 500px;
}
/*

/*botellas*/

.padre_botellas{
   display: grid;
   grid-template-areas: 
   "padrebotellas"
   "label"
   "pic_footer";
   grid-template-columns: 500px 500px;
   grid-template-rows: 3fr;
}


    /*       MOBILE RESPONSIVE */
   
@media screen and (max-width: 480px) {

/*index*/
/*fotos index*/
.subrayado{
    position:relative;
    left:10px;
}
.fotovasoindex{
    position: relative;
    bottom:1px;
    left:100px;
}
.fotoorgindex{
    position: relative;
    top:300px;
    right:400px;
}
.fotobotellaindex{
    top:600px;
}

.fotomatesindex{
    position: relative;
    top:200px;
    right:150px;
}

.fotobotellaindex{
    position:relative;
    top:100px;
}



/*pestaña organizador*/

.subtituloOrganizador{
    position:relative;
   top:5px;
   left:10px;
}

.organizador_img{
    position:relative;
    top:10px;
    left:10px;
}

.elegieltuyoorganizador{
    position: relative;
    top:50px;
}

.elegiorganizadores{
    position:relative;
    top:50px;
}

/*botellas*/
.fotobotellaindex{
    position:absolute;
    top:600px;
    left:100px;
}

/*bowls*/


.fotobowlsindex{
    position:relative;
    top:20px;
}
/*mate*/

.indexmates{
    position: relative;
    top:30px;
    right:400px;
}


/*pestaña vasos*/
.img_vasot{
    position: relative;
    left:50px;
}
.textovasos{
    position:relative;
    left:10px;
}
/*pestaña botellas*/
.botellaskidspadre{
    position:relative;
    top:350px;
    right:750px;
}

.elegieltuyobotella{
    position:relative;
    top:400px;
}

.elegibotellas{
    position: relative;
    top: 400px;
}


/*pestaña bowls*/

.padre_bowls{
    display: flex;
    flex-flow: row wrap;

}

.elemento_bowl2{
    position: relative;
    bottom:5px;
    left:10px;
}

.ElegieltuyoBowls{
    position: relative;
    top:50px;
}

.elegibowls{
    position:relative;
    top: 50px;
}
    
/*footer*/
.seguinos{
position:sticky;
left:430px ;
bottom:1300px;



}}


