/*map & map-get*/
$redes:(
    escribinos:green,
    facebook:  blue,
    
)
$estilos:(
    1 rem: 1 rem,
)

@each $green $blue $estilos in $redes {
    .btn--#{$green} {
    background-color:#ffff
    }}
    1 rem: map-get ($estilos, 1 rem)
}